.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid gray;
  box-shadow: 2px 2px 5px 2px darkgray;
  height: 3rem;
  width: 3rem;
}

.icon {
  stroke: #5f5e5e;
  stroke-width: 1px;
  color: #5f5e5e;
}