.container {
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  width: 70vw;
  z-index: 101;
  background: white;
  top: 0;
  left: 0;
  overflow: auto;
}

.close-cont {
  text-align: right;
  padding: .5rem;
}

.close {
  cursor: pointer;
}